<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jspwork2021</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<session-config>
	<!-- 분 단위  -->
	<session-timeout>30</session-timeout>
	</session-config>
	
	
 <servlet>
  	<servlet-name>servlet0103</servlet-name>
  	<servlet-class>servlet01.S03Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet0103</servlet-name>
  	<url-pattern>/servlet01/servlet03</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servlet0104</servlet-name>
  	<servlet-class>servlet01.S04Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet0104</servlet-name>
  	<url-pattern>/servlet01/servlet04</url-pattern>
  </servlet-mapping>
</web-app>

